* {
 width: 100%;
}

body {
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100vh;
  margin: 0%;
  background-color: rgba(46, 134, 193, 1);
}

.container {
  font-family: inherit;
  background-color: rgba(255, 255, 255, 1);
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 2%;
  color: rgba(33, 97, 140, 0.7);
  margin: 5%;
  box-shadow: 10px 10px 5px 0px rgba(53, 52, 52, 0.75);
}

.search-bar {
  display: flex;
  align-items: flex-start;
}

input {
  color: rgba(33, 97, 140, 1);
  margin: 5% 5% 0% 5%;
  width: 70%;
  font-size: 1.5rem;
  align-self: center;
  padding: 3.5% 3.5% 3.5% 0%;
  border: none;
  text-align: left;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: rgba(13, 83, 129, 0.7);
}

button {
  width: 15%;
  font-weight: 900;
  align-self: center;
  padding: 1.8%;
  color:  rgba(37, 102, 189, 1);
  text-align: center;
  min-width: 45px;
  border: none;
  background-color: transparent;

}

button:hover { 
  color: rgba(174, 214, 241, 1);
  border: none;
}

.material-symbols-outlined { 
  font-size: 2.3rem;
}

hr {
  width: 20%;
  height: 1px;
  background-color: rgba(37, 102, 189, 1);
}

h1 {
  margin: 5%;
  font-size: 2.5rem;
  color:  rgba(37, 102, 189, 1);
}

h2 {
  font-size: 2.3rem;
  margin: 5%;
  color:  rgba(37, 102, 189, 1);
}

h3 {
  margin-left: 3%;
}

.data {
  align-self: center;
}
